{% extends 'base.html.twig' %}

{% block title %}Utakmica{% endblock %}

{% block body %}
<div class="container">
{% for mes in app.flashes('success') %}
        <div class="alert alert-success">
        {{mes}}
        </div>
    {% endfor %}


    <h3> Utakmica</h3>

    
       

        {% if utakmica.Datum != NULL %}
             Datum:
             {{utakmica.Datum|date("d/m/Y") }}
             <br>
             {% endif %}
             {% if utakmica.Mjesto != NULL %}
             Mjesto odigravanja:
             {{utakmica.Mjesto}}
             {% endif %}




   {% if utakmica.IgracD != NULL  %}
           <h6>  {{utakmica.IgracD.ime}} {{utakmica.IgracD.prezime}} - {{utakmica.IgracG.ime}} {{utakmica.IgracD.prezime}}
             {% for stat in statistika %}
              {% if stat.Utakmica.id == utakmica.id %} {{stat.BrojGolovaDomaci}} - {{stat.BrojGolovaGosti}} {% endif %}
              {% endfor %}
           </h6> 

{% if uredi == true  %}
            {% for stat in statistika %}
        {% if stat.Utakmica.id == utakmica.id  %}
{% if is_granted('ROLE_DELEGAT') %}
           <a href="/sport/utakmica/urediStatistikuUtakmice/{{utakmica.id}}/{{stat.id}}/{{utakmica.IgracD.id}}/{{utakmica.IgracG.id}}" class="btn btn-dark">Uredi Statistiku Utakmice</a>
           {% endif   %}
           {% endif   %}
          {% endfor %}
            {% endif   %}
           {# {% if utakmica.datum == date('d/m/Y') %} #}
                 {% if uredi == false %}  
                  {% if is_granted('ROLE_DELEGAT') %}  
  <a href="/sport/utakmica/unesiStatistikuUtakmicePojedinacni/{{utakmica.id}}/{{utakmica.IgracD.id}}/{{utakmica.IgracG.id}}" class="btn btn-dark">Unesi Statistiku Utakmice</a>
             {# {% endif   %} #}
          {% endif   %}
       {% endif   %}
           

           {% endif %}

           <a href="/sport/Liga/{{utakmica.liga.id}}/prikazUtakmica" class="btn btn-primary" >Nazad</a>

           </div>
{% endblock %}